<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/now">Now Page</a></li>
    <li><a href="/1ccs">1-Credit Clears</a></li>
    <li><a href="/othergameclears">Other Video Game Clears</a></li>
  </ul>
</nav>
