---
pagination: 
  data: collections.blog 
  size: 5
  alias: blog
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>
 {% include 'header.njk' %}
    <ul>
    {%- for post in collections.blog | reverse -%}
    <li>
        <h2 class="blog-link"><a href="{{ post.url | url}}">{{ post.data.title }}</a></h2>
        {% if post.data.teaser %}
        <p>{{ post.data.teaser }}</p>
        {% endif %}
        </li>
        {%- endfor -%}
        </ul>
    
</body>
</html>
  